/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
   
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0%;
    font-weight: normal;
    font-style: normal;
}
.home-body{
    margin: 0%;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    font-weight: normal;
    font-style: normal;
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
a{
    display: inline-block;
    text-decoration:none;
    color: black;

}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    display: flex;
    width: 300px;
    height:auto;
    justify-items:flex-end ;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color: rgb(255, 255, 255);
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img  {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    color: #000;
    border-bottom: 1px solid #000;
    font-weight: normal;
    font-style: normal;   
}
.home-main{
    height: 100%;
    background-image: url('../assets/img/Cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.home-main section{    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 70%;
}
.home-main-text{
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
    letter-spacing:9px;
    font-size: 30px;
    word-spacing: 15px;
    /* font-family:'Roboto', sans-serif; */
    font-weight: normal;
    font-style: normal; 
}
main a button{
    background-color: #47cfac;
    width: 100px;
    height: 50px;
    letter-spacing:3px;
    outline: none;
    font-weight: bold;
    font-style: normal;
}




.blogs-main{
    display: grid;
}
.blogs-new-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 2fr;
}
.blogs-main-new h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 70%;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;
}
.blogs-posts-container{
   padding: 0 50px 40px; 
}
.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 40px;
    text-align: center;
}
.blogs-buttom{
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 12px;
    width: 90px;
    text-align: center;
}
.blogs-posts-container .posts-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%; 
    margin-bottom: 50px;
}
.blogs-posts-container .posts-container p{
    margin-bottom: 35px;
}
.blogs-posts-container .posts-container img{
    width: 100%;
    height: 200px;
}
footer{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}
/*****************************************************************/

.blogpost-img-container {
    padding: 0 50px 40px;
}
.blogpost-img-container img {
    width: 100%;
}
.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
}
.blogpost-main-container .grid-container article h1 {
    font-size: 35px;
}
.contact-main-container {
    width: 100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div{
    display: inline-block;
    width: 49.5%;
}
.contact-main-container div a{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}
.contact-main-container img{
    width: 100px; 
}
/**************************************************************************/

.profile-main-container{
    padding: 70px 40px;
    background-color: #e6e9ed;
    margin-bottom: 50px;
}
.profile-main-container img{
    width: 320px;
    margin-right: 30px;
}
.profile-main-container .profile-container{
    display: flex;
}
.profile-main-proyects{
    padding: 0 50px 40px;
}
.profile-main-proyects h3{
    border-bottom: 1px solid #cdd2da ;
    padding-bottom: 35px;
    text-align: center;
}
.proyects-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.proyects-container{
    padding: 0 5px;
}
























