@media (max-width:900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .posts-container{
        max-width: 45%;
    }
    .proyects-main-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;    
    }
    
}
@media(max-width:600px){
    .blogs-posts-container .posts-container{
        max-width: 95%;
    }
    .contact-main-container {
        display: flex;
        padding-bottom: 0px;
    }
    .contact-right{
        margin-top: 0px;
        
    }
    .contact-main-container .contact-left{
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 15px;
    }
    .parrafo{
        font-size: 12px;
    }
    html {
        width: 100%;
    }
    .profile-main-container img {
        width: 250px;
    }
}